body { 
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#automata_controls {
    display: grid;
    width: 996px
;   padding-right: 5px;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    grid-template-rows: 100px;
}
